<div class="container my-5">
    <h1 class="mb-3">Product List</h1>
   
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Title</th>
                <th scope="col">Description</th>
                <th scope="col">category</th>
                <th scope="col">price</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @for(prod of productList;track prod){
                <tr>
                    <td>{{prod.id}}</td>
                    <td>{{prod.title}}</td>
                    <td>{{prod.description}}</td>
                    <td>{{prod.category}}</td>
                    <td>{{prod.price}}</td>
                    <td><a [routerLink]="['/products','edit',prod.id]">Edit</a></td>
                </tr>
            }
        </tbody>
    </table>

</div>>