<div class="container my-5">
    <h1 class="mb-3"> Add New Product</h1>
    <div class="row">
        <div class="col-6">
            <form #form="ngForm" (ngSubmit)="addProduct()">
                <div class="mb-3">
                    <label for="id" class="form-label">Id</label>
                    <input type="text" class="form-control" id="id" [(ngModel)]="addProductRequest.id" name="id">
                </div>
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input type="text" class="form-control" id="title" [(ngModel)]="addProductRequest.title" name="title">
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <input type="text" class="form-control" id="description" [(ngModel)]="addProductRequest.description" name="description">
                </div>
                <div class="mb-3">
                    <label for="category" class="form-label">Category</label>
                    <input type="text" class="form-control" id="category" [(ngModel)]="addProductRequest.category" name="category">
                </div>
                <div class="mb-3">
                    <label for="price" class="form-label">Price</label>
                    <input type="number" class="form-control" id="price" [(ngModel)]="addProductRequest.price" name="price">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>